.playBtn {
  width: 150px;
  padding: 10px 0;
  background: #58b660;
  border-radius: 20px;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
